form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.input-field {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  font-weight: 100;
  width: 300px;
  height: 40px;
  padding: 0 5px;
  border: 1px solid rgb(0, 0, 0);
  outline: none;
}

.submit-btn {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  width: 40px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  cursor: pointer;
  transition: all 100ms ease;
}

.submit-btn:hover {
  background-color: rgb(255, 196, 0);
}

.submit-btn:active {
  background-color: rgb(255, 255, 255);
}
